.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffc9b9;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23fcaf58" fill-opacity="1" d="M0,32L48,42.7C96,53,192,75,288,112C384,149,480,203,576,213.3C672,224,768,192,864,154.7C960,117,1056,75,1152,90.7C1248,107,1344,181,1392,218.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>');
    background-size: cover;
    height: 100vh;
}
.box {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.fadeIn {
    opacity: 1;
}

@keyframes colorChange {
    0% {
        color: tomato;
    }
    33% {
        color: #4c956c;
    }
    66% {
        color: #788bff;
    }
    100% {
        color: tomato;
    }
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #4c956c;
    padding-bottom: 2rem;
    text-shadow: #fefee3 2px 2px 2px;
    animation: colorChange 3s infinite;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    background-color: #fefee3;
    border: 1.5px solid #4c956c;
    width: 30%;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.textarea {
    background-color: #fefee3;
    border: 1.5px solid #4c956c;
    width: 30%;
    height: 100px;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.button {
    text-align: center;
    background-color: #ffc9b9;
    border: 1.5px solid #4c956c;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #4c956c;
    list-style: none;
    font-size: 16px;
    font-weight: 800;
    margin: 20px;
    padding: 15px;
    width: 120px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #4c956c;
}
.button:hover {
    background-color: #fefee3;
    border: 1.5px solid #2c6e49;
    box-shadow: 2px 2px 8px #545454;
    color: #4c956c;
    animation: bounce 0.5s ease-in-out;
}

.successMessage {
    color: #4c956c;
    font-size: 14px;
    margin-top: 1rem;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 1rem;
}

.circleBlue {
    background-color: #4c956c;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    transform: translate(250%, 150%);
}
